.content{
height: 630px;
margin-top: 6.42%;
margin-bottom: 4.5%;
margin-left: 24.5%;
margin-right: 24.5%;
border-radius: 30px;
border-width: 2px;
border-color: grey;
border-style: solid;
}

.topic{
margin-left: 40%;
margin-top: 13px;
}

.reg_data{
margin-top: 5.5%;
margin-left: 7.5%;

}

.data{
position: relative;
width: 304px;
height: 30px;
}
.reg_button{
position:absolute;
bottom: 45px;
margin-left:5px;
color: white;
width: 200px;
height: 40px;
border-style: solid;
border-radius: 8px;
border-width: 1px;
font-size: 20px;
background-color: DarkOrange;
}