* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #f7f7f7;
}

.main-info {
	flex: 1 0 auto;
}

#sticky-footer {
	flex: 0 0 auto;
}

/*** MAIN CINTANT ***/

.main-info {
	height: 100%;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 25px;
	margin: 30px 0px;
	padding-top: 15px!important;
	padding-right: 60px!important;
	padding-bottom: 15px!important;
	padding-left: 60px!important;
}

.image-block {
	margin: 0 25px;
}

.news_header {
	margin-top: 45px;
	margin-bottom: 50px;
}
/*** FOOTER ***/

footer {
	background-color: #dedede;
	padding: 10px;
	border: 1px solid #797979;
	font-family: 'Oswald', sans-serif;
}

.help_message {
	font-size: 1.75em;
	text-transform: uppercase;
}

.help_message a {
	color: black;
	text-decoration: none;
}

.links a {
	color: black;
	margin: 0 6px;
}

@media (max-width: 576px) {
	.fab{
		margin-top: 5px!important;
		font-size: 2em!important;
	}

	.help_message {

	}
}

/*** USER PAGE ***/
.userTab {
	border: 1px solid #e1e2e6;
	height: 500px;
	padding: 15px;
}

#lists-tab,
#subcribes-tab,
#subscribers-tab,
#publications-tab,
#note-tab {
	border-color: #e1e2e6;
}

@media (max-width: 1199px) {
	.tabbable {
		border: 1px solid #e1e2e6;
	}
}

.avatar-img {
	border-radius: 15px;
	border: 1px solid black;
}

.btn-settings {
    background-color: #F7AA4F;
    color: white;
    border: 1px solid #B67426!important;
    margin-top: 15px;
    margin-left: 15px!important;
}

.header-settings {
    margin-bottom: 50px!important;
}

#accept-btn {
    background-color: orange;
    border-color: #BF8440;
    margin-top: 15px;
}

/*** Tabs ***/

.tabbable, .nav-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap!important;
}

.tabbable, .nav-tabs, .nav-link {
	white-space: nowrap;
}


/*** END USER PAGE ***/

/*** REGISTRATION ***/
#reg-btn {
    margin-top: 25px;
    background-color: orange;
    border-color: #BF8440;
}
/*** END REGISTRATION ***/

/*** SEARCH+ ***/
div.features {
    margin: 2% 0 2% 15%;
	border: 2px solid lightgray;
    border-radius: 50px;
    padding: 50px 0 0 100px;
/*    width: 1380px;*/
    width: 73%;
    overflow-x: hidden;
}
div.head label {
    font-weight: bold;
    font-size: 16pt;
}
div.head label[for="auth-publish"] {
    margin-left: 35px;
}
div.head input {
    width: 900px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    margin-left: 20px;
    padding: 10px;
}
div.head #name-publish {
    width: 1100px;
}
div.genres {
    position: relative;
    top: -45px;
    left: 1075px;
}
div.genres .genre-title {
    font-weight: bold;
    font-size: 16pt;
}
div.genres ul.list-genres {
    position: relative;
    top: -40px;
    left: 80px;
    font-size: 14pt;
    list-style-type: none;
}
div.status-publish {
    position: relative;
    top: -50px;
}
div.status-publish .status-title {
    font-weight: bold;
    font-size: 16pt;
}
div.status-publish ul.list-status {
    position: relative;
    top: -40px;
    left: 80px;
    font-size: 14pt;
    list-style-type: none;
}
div.rates {
    position: relative;
    top: -50px;
}
div.rates label {
    font-weight: bold;
    font-size: 16pt;
}
div.rates input {
    width: 70px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}
div.sort-by {
    position: relative;
    top: -30px;
}
div.sort-by .sort-title {
    font-weight: bold;
    font-size: 16pt;
}
div.sort-by ul.list-sorts {
    position: relative;
    left: 80px;
    font-size: 14pt;
    list-style-type: none;
}
div.features button.btn-primary {
    float: right;
    width: 160px;
    height: 60px;
    font-size: 14pt;
    margin-right: 50px;
    margin-bottom: 50px;
}
/***************/

/*** FAQ ***/
.quest-header {
    margin-bottom: 50px;
}

.qusetion-card {
    margin-bottom: 15px!important;
    border-color: #8f8f8f!important;
}

.question-bg {
    background-color: white!important;
}

.question-btn {
    font-size: 1em!important;
    color: #ff9100!important;
}

/***********/